.App {
  text-align: center;
}

table {
  font: 1em sans-serif;
  font-size: x-small;
  border-collapse: collapse;
  width: 100%;
}

th, td {
  border: 1px solid black;
  padding: 8px;
  text-align: left;
}


.font-custom {
  font-family: 'Arial', sans-serif; 
  font-size: 14px; 
  font-weight: 400; 
}

.dark {
  background-color: #1f2937;
  color: white;
}

.dark-button {
    background-color: #ffffff;
    color: #000000;
}

.light {
  background-color: white;
  color: black; 
}


.light-button {
    background-color: #1f1f1f;
    color: #ffffff;
}

.light th {
  background-color: rgb(175, 173, 173); 
  color: black;
}

.light td {
  background-color: white;
}

.light .MuiSvgIcon-root {
  color: black !important;
}

.light .add-icon {
  
  color: black !important;
}


.dark .table-row-even {
  background-color: #2d2d2d;
}

.dark .show-size {
  background-color: black;
  color: white; 
}

.light .show-size {
  background-color: white; 
  color: black; 
}

.light .lst {
  background-color: white;
  color: black;
}

.light .add-button {
  color: black;
}
